http:
  routers:
    dashboard:
      entryPoints:
        - "websecure"
      rule: "Host(`{{ traefik_dashboard_domain }}`)"
      middlewares:
        - default-headers
      tls:
        certResolver: "{{ traefik_acme_resolver }}"
        domains:
          - main: "{{ traefik_acme_domain_main }}"
            sans:
{% for sans in traefik_acme_domain_sans.split(',') %}
              - "{{ sans | trim }}"
{% endfor %}
      service: api@internal
    dashboard-http:
      entryPoints:
        - "web"
      rule: "Host(`{{ traefik_dashboard_domain }}`)"
      middlewares:
        - https-redirectscheme
      service: api@internal
{% for pve in proxmox_instances %}
    {{ pve.name }}:
      entryPoints:
        - "web"
        - "websecure"
      rule: "Host(`{{ pve.domain }}`)"
      middlewares:
        - https-redirectscheme
        - default-headers
      tls:
        certResolver: "{{ traefik_acme_resolver }}"
        domains:
          - main: "{{ traefik_acme_domain_main }}"
            sans:
{% for sans in traefik_acme_domain_sans.split(',') %}
              - "{{ sans | trim }}"
{% endfor %}
      service: {{ pve.name }}
{% endfor %}
  services:
{% for pve in proxmox_instances %}
    {{ pve.name }}:
      loadBalancer:
        servers:
          - url: "{{ pve.url }}"
        passHostHeader: true
        serversTransport: proxmox-transport
{% endfor %}  
  serversTransports:
    proxmox-transport:
      insecureSkipVerify: true
  middlewares:
    https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true
    default-headers:
      headers:
        frameDeny: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: {{ traefik_hsts_max_age }}
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https
    default-whitelist:
      ipAllowList:
        sourceRange:
{% for ip in traefik_ip_whitelist %}
          - "{{ ip }}"
{% endfor %}   
    # Secured middleware for services - includes IP whitelist
    secured:
      chain:
        middlewares:
          - default-whitelist
          - default-headers