api:
  dashboard: {{ traefik_dashboard_enabled | lower }}

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ traefik_email }}
      storage: /letsencrypt/acme.json
      httpChallenge:
        entryPoint: web