# TODO give example of all settings needed here:

# Infisical
INFISICAL_CLIENT_ID=<value>
INFISICAL_CLIENT_SECRET=<value>
INFISICAL_PROJECT_ID=<value>

# GitHub
TF_VAR_github_owner_rwdevlead=<value>
TF_VAR_github_token_rwdevlead=<value>
TF_VAR_github_owner_realworlddevelopers=<value>
TF_VAR_github_token_realworlddevelopers=<value>

# Proxmox - moving to Infisical
TF_VAR_default_username=<value>
TF_VAR_default_password=<value>
TF_VAR_PVE_D01_TERRAFORM_TOKEN=<value>
TF_VAR_PVE_D01_ENDPOINT=<value>
TF_VAR_PVE_P01_TERRAFORM_TOKEN=<value>
TF_VAR_PVE_P01_ENDPOINT=<value>
TF_VAR_PROXMOX_TERRAFORM_TOKEN=<value>
TF_VAR_PROXMOX_ENDPOINT=<value>

# Ansible
ANSIBLE_CONFIG=./iac/ansible/ansible.cfg

# Mailrise
MAILRISE_EMAIL_DEST=<value>

ICLOUD_MAIL_USER=<value>
ICLOUD_MAIL_PASS=<value>
ICLOUD_MAIL_FROM=<value>

OUTLOOK_MAIL_USER=<value>
OUTLOOK_MAIL_PASS=<value>
OUTLOOK_MAIL_FROM=<value>

# home assistant
HOMEASSISTANT_TOKEN=<value>

# homarr
HOMARR_PROXY_PASSWORD=<value>
HOMARR_TRUENAS_D01_KEY=<value>
HOMARR_PORTAINER_D02_KEY=<value>
WATCHTOWER_TOKEN=<value>

# proxmox
PVE_D01_HOMARR_TOKEN=<value>
PVE_D01_HOMARR_USER=<value>
PVE_P01_HOMARR_TOKEN=<value>
PVE_P01_HOMARR_USER=<value>
PROXMOX_HOMARR_TOKEN=<value>
PROXMOX_HOMARR_USER=<value>

# pihole
PIHOLE_P01_PASSWORD=<value>
PIHOLE_D01_PASSWORD=<value>
PIHOLE_D02_PASSWORD=<value>

# traefik
TRAEFIK_DASHBOARD_CREDENTIALS=<value>
CF_DNS_API_TOKEN=<value>

# portainer agents
PORTAINER_AGENT_SECRET=<value>

# Homarr
HOMMARR_SECRET_ENCRYPTION_KEY=<value>