# give example of all settings needed here:

# TODO build from scratch

# Hashicorp / TerraForm
# Terminal prompt> Terraform Login
# Generate Token in the popup HCL webpage
# Paste Token in termin
# Good to go

# GitHub
TF_VAR_github_owner_rwdevlead=<value>
TF_VAR_github_token_rwdevlead=<value>
TF_VAR_github_owner_realworlddevelopers=<value>
TF_VAR_github_token_realworlddevelopers=<value>

# Ansible
ANSIBLE_CONFIG=./iac/ansible/ansible.cfg

# Mailrise
MAILRISE_EMAIL_DEST=<value>

ICLOUD_MAIL_USER=<value>
ICLOUD_MAIL_PASS=<value>
ICLOUD_MAIL_FROM=<value>

OUTLOOK_MAIL_USER=<value>
OUTLOOK_MAIL_PASS=<value>
OUTLOOK_MAIL_FROM=<value>
