#cloud-init config for Proxmox
datasource_list: [ NoCloud, ConfigDrive ]

# Ensure cloud-init does NOT overwrite Proxmox’s networking
network:
  config: disabled

# Ensure hostname from Proxmox is accepted
preserve_hostname: false

# Ensure SSH keys from cloud-init overwrite existing ones
ssh_deletekeys: true

# Enable growpart to expand root fs when clone size changes
growpart:
  mode: auto
  devices: ["/"]
  ignore_growroot_disabled: false