services:
  homepage:
    image: ghcr.io/gethomepage/homepage:{{ homepage_version }}
    container_name: {{ homepage_container_name }}
    restart: unless-stopped
    environment:
      - TZ={{ homepage_timezone }}
      - HOMEPAGE_ALLOWED_HOSTS={{ homepage_domain }}
      - PROXMOX_API_USER={{ lookup('ansible.builtin.env', 'PROXMOX_API_USER') }}
      - PROXMOX_API_TOKEN={{ lookup('ansible.builtin.env', 'PROXMOX_API_TOKEN') }}
      - PVE_P01_API_USER={{ lookup('ansible.builtin.env', 'PVE_P01_API_USER') }}
      - PVE_P01_API_TOKEN={{ lookup('ansible.builtin.env', 'PVE_P01_API_TOKEN') }}
    volumes:
      - ./config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.homepage.rule=Host(`{{ homepage_domain }}`)"
      - "traefik.http.routers.homepage.entrypoints=websecure"
      - "traefik.http.routers.homepage.tls=true"
      - "traefik.http.services.homepage.loadbalancer.server.port={{ homepage_port }}"
      - "com.centurylinklabs.watchtower.enable=true"
    networks:
      - traefik

networks:
  traefik:
    external: true
