---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services

- Network:
{% for pihole in pihole_instances %}
    - {{ pihole.name }}:
        icon: pi-hole.svg
        href: {{ pihole.url }}
        description: Pi-hole DNS on Docker
        server: {{ pihole.server }}
        #container: {{ pihole.container }}
        #siteMonitor: {{ pihole.url }}
        widget:
            type: pihole
            url: {{ pihole.url }}
            version: 6
            key: {{ lookup('ansible.builtin.env', pihole.env_user_pwd) }}
            fields: ["queries", "blocked", "blocked_percent", "gravity"]
{% endfor %}
    - nebula-sync:
        icon: mdi-sync # Uses standard Material Design Icons
        description: Pi-hole Database Synchronizer
        siteMonitor: {{ nebula_sync_url }}
    - traefik:
        icon: traefik.svg
        href: {{ traefik_dashboard_url }}
        server: dev-docker-01 # The docker server that was configured
        container: traefik-d01 # The name of the container you'd like to connect
        siteMonitor: {{ traefik_dashboard_url }}
        description: Reverse Proxy
        widget:
            type: traefik
            url: {{ traefik_dashboard_url }}
            # username: admin # optional
            # password: "{{ lookup('ansible.builtin.env', 'HOMEPAGE_PROXY_PASSWORD') }}"

- Local Servers:
{% for pve in proxmox_instances %}
    - {{ pve.name }}:
        icon: proxmox.svg
        href: {{ pve.url }}
        description: Proxmox Virtual Environment
        siteMonitor: {{ pve.url }}
        widget:
            type: proxmox
            url: {{ pve.url }}
            # Using your existing global user/key for all nodes
            username: "{{ lookup('ansible.builtin.env', pve.env_user_key) }}"
            password: "{{ lookup('ansible.builtin.env', pve.env_token_key) }}"
            fields: ["vms", "lxc", "resources.cpu", "resources.mem"]
{% endfor %}
    - truenas-d01:
        statusStyle: "basic"
        icon: truenas.svg
        href: {{ truenas.url }}
        description: backups on NAS
        siteMonitor: {{ truenas.url }}
        widget:
            type: truenas
            url: {{ truenas.url }}
            version: 2
            # username: user # not required if using api key
            # password: pass # not required if using api key
            key: "{{ lookup('ansible.builtin.env', 'HOMEPAGE_TRUENAS_D01_KEY') }}"  # not required if using username / password
            enablePools: true # optional, defaults to false
            nasType: scale # defaults to scale, must be set to 'core' if using enablePools with TrueNAS Core
            fields: ["load", "uptime", "alerts"]
- Containers:
    - portainer-dev:
        statusStyle: "basic"
        icon: portainer.svg
        href: {{ portainer_instance.url }}
        description: Container Management 
        server: dev-docker-01
        container: portainer-d01
        siteMonitor: {{ portainer_instance.url }}
        widget:
            type: portainer
            url: {{ portainer_instance.url }}
            env: 3
            key: "{{ lookup('ansible.builtin.env', 'HOMEPAGE_PORTAINER_D01_KEY') }}" 

{% for portainer in portainer_agents %}
    - {{ portainer.name }}:
        icon: docker.svg
        description: {{ portainer.description }}
{% if portainer.server is defined %}
        server: {{ portainer.server }}
{% endif %}
{% if portainer.container is defined %}
        container: {{ portainer.container }}
{% endif %}
{% if portainer.ping is defined %}
        ping: {{ portainer.ping }}
{% endif %}
        widget:
            type: portainer
            url: {{ portainer.widget.url }}
            env: {{ portainer.widget.env }}
            key: "{{ lookup('ansible.builtin.env', portainer.widget.key_env) }}"
{% endfor %}

{% for watchtower in watchtower_instances %}
    - {{ watchtower.name }}:
        icon: watchtower.svg
        description: Automated Container Updates
{% if watchtower.server is defined %}
        server: {{ watchtower.server }}
{% endif %}
{% if watchtower.container is defined %}
        container: {{ watchtower.container }}
{% endif %}
{% if watchtower.ping is defined %}
        ping: {{ watchtower.ping }}
{% endif %}
        widget:
            type: watchtower
            url: {{ watchtower.widget.url }}
            key: "{{ lookup('ansible.builtin.env', watchtower.widget.key_env) }}"
{% endfor %}

    - Mailrise Gateway:
        icon: mdi-email-alert
        description: SMTP Notification Routing Engine
        ping: {{ mailrise.domain }}

- IoT:
    - Home Assistant:
        icon: home-assistant.svg
        href: {{ homeassistant.href }}
        description: Home Automation System
        siteMonitor: {{ homeassistant.url }}
        widget:
          type: homeassistant
          url: {{ homeassistant.url }}
          key: "{{ lookup('ansible.builtin.env', 'HOMEASSISTANT_TOKEN') }}"
          custom:
            - state: sensor.system_monitor_processor_use
              label: CPU
              unit: "%"
            - state: sensor.system_monitor_memory_usage
              label: RAM
              unit: "%"
            - state: sensor.system_monitor_disk_usage
              label: Disk
              unit: "%"

