---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services

- Network:
{% for pihole in pihole_instances %}
    - {{ pihole.name }}:
        icon: pi-hole.svg
        href: {{ pihole.url }}
        description: Pi-hole DNS on Docker
        server: {{ pihole.server }}
        container: {{ pihole.container }}
        siteMonitor: {{ pihole.url }}
        widget:
            type: pihole
            url: {{ pihole.url }}
            version: 6
            key: {{ lookup('ansible.builtin.env', pihole.env_user_pwd) }}
            fields: ["queries", "blocked", "blocked_percent", "gravity"]
{% endfor %}
    - nebula-sync:
        icon: mdi-sync # Uses standard Material Design Icons
        description: Pi-hole Database Synchronizer
        server: prod-docker-01
        container: nebula-sync
        siteMonitor: http://192.168.50.14:8888/api/auth 
    - traefik:
        icon: traefik.svg
        href: {{ homepage_var_proxy_url }}
        server: dev-docker-01 # The docker server that was configured
        container: traefik-d01 # The name of the container you'd like to connect
        siteMonitor: {{ homepage_var_proxy_url }}
        description: Reverse Proxy
        widget:
            type: traefik
            url: {{ homepage_var_proxy_url }}
            # username: admin # optional
            # password: {{ homepage_var_proxy_password }}

- Local Servers:
{% for pve in proxmox_instances %}
    - {{ pve.name }}:
        icon: proxmox.svg
        href: {{ pve.url }}
        description: Proxmox Virtual Environment
        siteMonitor: {{ pve.url }}
        widget:
            type: proxmox
            url: {{ pve.url }}
            # Using your existing global user/key for all nodes
            username: "{{ lookup('ansible.builtin.env', pve.env_user_key) }}"
            password: "{{ lookup('ansible.builtin.env', pve.env_token_key) }}"
            fields: ["vms", "lxc", "resources.cpu", "resources.mem"]
{% endfor %}
    - truenas-d01:
        statusStyle: "basic"
        icon: truenas.svg
        href: {{ homepage_var_truenas_url }}
        description: backups on NAS
        siteMonitor: {{ homepage_var_truenas_url }}
        widget:
            type: truenas
            url: {{ homepage_var_truenas_url }}
            version: 2
            # username: user # not required if using api key
            # password: pass # not required if using api key
            key: {{ homepage_var_truenas_key }} # not required if using username / password
            enablePools: true # optional, defaults to false
            nasType: scale # defaults to scale, must be set to 'core' if using enablePools with TrueNAS Core
            fields: ["load", "uptime", "alerts"]
- Containers:
    - portainer-dev:
        statusStyle: "basic"
        icon: portainer.svg
        server: dev-docker-01 
        href: {{ homepage_var_portainer_d01_url }}
        description: Container Management 
        siteMonitor: {{ homepage_var_portainer_d01_url }}
        widget:
            type: portainer
            url: {{ homepage_var_portainer_d01_url }}
            env: 3
            key: "{{ lookup('ansible.builtin.env', 'HOMEPAGE_PORTAINER_D01_KEY') }}" 
    - dev-docker-01:
        icon: docker.svg
        description: Development Docker Environment
        widget:
            type: portainer
            url: {{ homepage_var_portainer_d01_url }}
            env: 3
            key: "{{ lookup('ansible.builtin.env', 'HOMEPAGE_PORTAINER_D01_KEY') }}"
    - prod-docker-01:
        icon: docker.svg
        description: Production Docker Environment
        widget:
            type: portainer
            url: {{ homepage_var_portainer_d01_url }}
            env: 7
            key: "{{ lookup('ansible.builtin.env', 'HOMEPAGE_PORTAINER_D01_KEY') }}"

    - watchtower-d01:
        icon: watchtower.svg
        description: Automated Container Updates
        server: dev-docker-01
        container: watchtower-d01
    - watchtower-p01:
        icon: watchtower.svg
        description: Automated Container Updates
        server: prod-docker-01
        container: watchtower-p01

    - Mailrise Gateway:
        icon: mdi-email-alert
        # href: mailto:alert@yourdomain.com
        description: SMTP Notification Routing Engine
        # siteMonitor: http://192.168.50.12:8025 # Verifies the port responds to raw socket hooks
        server: prod-docker-01
        container: mailrise-p01

- IoT:
    - Home Assistant:
        icon: home-assistant.svg
        #href: "{{ lookup('ansible.builtin.env', 'HOMEASSISTANT_URL') }}"
        description: Home Automation System
        widget:
          type: homeassistant
          #url: "{{ lookup('ansible.builtin.env', 'HOMEASSISTANT_URL') }}"
          #key: "{{ lookup('ansible.builtin.env', 'HOMEASSISTANT_TOKEN') }}"
          # Standard quick summaries:
          #fields: ["lights_on", "switches_on", "people_home"]
          # Custom entity tracks (Optional: remove or swap to your actual sensors):
          # custom:
          #   - state: sensor.total_power
          #     label: Total Power

