smtp:
  listen: 0.0.0.0:{{ mailrise_smtp_port }}

routes:
  default:
    - match: {}
      forward:
        - type: smtp
          host: smtp.example.com
          port: 587
          username: alert@example.com
          password: changeme