configs:
  email:
    urls:
      - "mailto://{{ mailrise_icloud_user }}:{{ mailrise_icloud_pass }}@smtp.mail.me.com:587?from={{ mailrise_icloud_from }}&to={{ mailrise_target_email }}&mode=starttls"
  
smtp:
  port: 8025

